@model Pizzas

@{
    var ModelName = "Pizza Details";
    ViewData["Title"] = ModelName;
}

<h2>@ModelName</h2>
<hr />

<p>
    <a asp-action="ListAll">Back to List</a>
</p>

<div class="thumbnail">
    <img alt="@Model.Name" src="@Model.ImageUrl" height="800" width="800" class="img-responsive" >
    <div class="caption-full">
        <h2 class="pull-right">@Model.Price.ToString("c")</h2>
        <h2>
            <a href="">@Model.Name</a>
        </h2>
        <div>
        <h4>Category: <b> @Model.Category.Name </b></h4>
        <p>@Model.Description</p>
        <p>
            <h4><b>List of Ingredients:</b></h4>

            @if (ViewBag.PizzaIngredients.Count > 0)
        {
                @foreach (var ing in ViewBag.PizzaIngredients)
            {
                    <div> @ing </div>
                }
            }
            else
            {
                <div>No @Html.DisplayNameFor(Model => Model.PizzaIngredients) was found. </div>
            }
        </p>
        <p>
            @if (ViewBag.AverageReviewScore > 0)
        {
                <h4>Average Review Score (1-5): <b> @ViewBag.AverageReviewScore </b></h4>
            }
            else
            {
                <h4>No Reviews was found. </h4>
            }

        </p>
        <p>
            <h4>
                <a asp-controller="Reviews" asp-action="PizzaReviews" asp-route-pizzaId="@Model.Id">Reviews</a>
            </h4>
        </p>
        </div>

        <br />
        <p class="button">
            <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
                asp-route-pizzaId="@Model.Id">Add Pizza</a>
        </p>
    </div>
</div>
